############### Static Secrets ###############
ssh_key            = "c:\\<Point_Me_to_your_private_SSH_Key>\\id_rsa"
ssh_fingerprint    = "DigitalOcean_SSH-Key_Fingerprint"

namecheap_username = "user"
namecheap_api_user = "user"
namecheap_api_key  = "NameCheap_API_Key"
do_token           = "DigitalOcean_Token"

############### Server Configuration ###############
domain             = "airsoftsweden.com"              # Namecheap controlled Domain name
servers            = ["inferno2024"]                  # Name and amount of servers
cert_pass          = "atakatak"                 
map_endpoint       = "/changeme"
email              = "mumble-admin@example.com"
mumble_password    = "Passw0rd123"